
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

	font-family: "Titillium Web", sans-serif;
}
body{
    /* background-image: url('../image/back.webp'); */
    background-size:100%;
    /* background-repeat: no-repeat;
    background-position: -100px 50px ; */
    background-color: #e9edc9;
    
}

:root {
	--mainColor: #2D303C;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}
.logo{
    width: 150px;
    height: 50px;
    margin-left: 20px;
	float: right;
	/* color: white;
	background-color: white; */
}
.div-person{
    /* display: flex; */
    /* float: right; */
    /* justify-content: right; */
    display: block;
    margin-left: auto;

}
.person{
	display: flex;
    float: left;
    width: 80px;
    height: 50px;
    
}

header div,
nav {
	display: flex;
	align-items: center;
}


@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .MealInfo {
	margin: 10px;
	max-width: 300px;
  }
  
/* img{
  margin-bottom: 50px;
  width: 300px;
  height: 300px;
} */


.footer {
    width: 100%;
    margin-top: 30px ;
    display: flex;
    justify-content:center;
    align-items: center;
	background-color: #e36f4b;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-company {
    font-size: 14px;
    color: #999;
    margin: 0;
  }